<launch>
  <arg name="use_tls" default="false" />
  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    <rosparam command="delete" param="" />
    <rosparam if="$(eval 'true' if env('SERVER_TYPE')=='Release' else 'false')" command="load" file="$(find mqtt_bridge)/config/movexbot_params.yaml" />
    <rosparam if="$(eval 'true' if env('SERVER_TYPE')=='Debug' else 'false')" command="load" file="$(find mqtt_bridge)/config/movexbot_params_debug.yaml" />
    <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="$(find mqtt_bridge)/config/tls_params.yaml" />
  </node>
</launch>
